@font-face{font-family:gilroy;src:local('Gilroy Semibold'),local('Gilroy-Semibold'),url(/web/20210920212941im_/https://eventspacex.io/font/Gilroy-Semibold.woff2) format('woff2'),url(../fonts/Gilroy-Semibold.woff) format('woff'),url(../fonts/Gilroy-Semibold.ttf) format('truetype');font-weight:600;font-style:normal}
/*
     FILE ARCHIVED ON 21:29:41 Sep 20, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:41:13 Apr 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 165.513
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.085
  cdx.remote: 0.085
  esindex: 0.013
  LoadShardBlock: 38.466 (3)
  PetaboxLoader3.datanode: 86.17 (5)
  load_resource: 528.128
  PetaboxLoader3.resolve: 108.269
  loaddict: 401.281
*/